VITE_APP_NAME="MICRO-POD"

WORKDIR=/var/www/html
MYSQL_VERSION=8.0.32
REDIS_VERSION=7.2.4

OCTANE_SERVER=frankenphp

SAIL_XDEBUG_MODE=develop,debug,trace
FORWARD_REDIS_PORT=6369
REDIS_VOLUME_LOCAL=./database/redis-database/

RABBITMQ_HOST=host.docker.internal
RABBITMQ_PORT=5612
RABBITMQ_USER=federation_user
RABBITMQ_PASSWORD=2751997nam
RABBITMQ_VHOST=federation_vhost